<div class="user-index-page">

  <div class="swipe">
    <div class="swipe--status">
      <i class="fa fa-times"></i>
      <i class="fa fa-heart"></i>
    </div>

    <div class="swipe--cards">
      <% @posts.each do |post| %>
        <div class="swipe--card" id="<%= post.user_id %>">
          <%= image_tag post.arts.first.image.url(:medium), class: "profile-img" %>
          <p class="profile-name">
            <%= post.art_name %>
          </p>
        </div>
      <% end %>
      <div class="no-user">近くにお相手がいません</div>
    </div>

    <div class="swipe--buttons">
      <button id="dislike"><i class="fas fa-times fa-2x"></i></button>
      <button id="like"><i class="fas fa-heart fa-2x"></i></button>
    </div>
  </div>

</div>
